body{
	background-image: url('../images/blue-sky-blur-clear-sky-color-281260.jpg');
	min-width: 1200px;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: white;
}
.hero{
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;
	top: 0;
	bottom: 0;
	background-color: rgb(31, 34, 118, 0.5);
}
.navbar{
	background-color: #74B0F7;
}
.navbar-brand{
	color: white;
	font-family: 'Amaranth';
	font-size: 25px;
}
.weather{
	border: 1px solid white;
	margin-top: 8rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

#icon-desc{
	font-size: 5rem;
	padding-top: 2rem;
}

.desc{
	font-size: 2rem;
}

#temperature{
	font-size: 7rem;
}
#icon-thermometer{
	font-size: 5rem;
}
.humidity, .precipitation, .wind{
	border-top: 1px solid white;
	border-bottom: 1px solid white;	
	font-size: 1.5rem;
}
.humidity-data, .precipitation-data, .wind-data{
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


#search-box{
    align: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	height: 40px;
	border-radius: 40px;
	padding: 7px;
	padding-bottom: 3rem;
	border: 2px solid white;
}


.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 25px;
	transition: 0.1s;
	line-height: 40px;
	width: 550px;

}